[submodule "CalLeo_backend"]
	path = CalLeo_backend
	url = https://github.com/rajatsharda23/CalLeo_backend
[submodule "CalLeo_frontend"]
	path = CalLeo_frontend
	url = https://github.com/rajatsharda23/CalLeo_frontend
[submodule "Leo"]
	path = Leo
	url = https://github.com/rajatsharda23/Leo
